<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend management</title>
    <link th:href="@{/asserts/css-self-defined/dashboard.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <br>
    <br>
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="row">
        <form action="">
          <input type="hidden" />
          <input type="hidden" th:if="${user!=null}" th:value="${user.id}" />
          <div class="form-group">
            <label>Username</label>
            <input name="username"
              type="text"
              class="form-control"
              placeholder=""
              th:value="${user!=null}?${user.username}"
            />
          </div>
          <!-- user is able to see the password when add an user -->
          <div class="form-group">
            <label>Password</label>
            <input
              name="password"
              type="text"
              class="form-control"
              placeholder=""
              th:value="${user!=null}?${user.password}"
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder=""
              th:value="${user!=null}?${user.email}"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            th:text="${user!=null}?'edit':'add'"
          >
            Add
          </button>
        </main>
        </form>
      </div>
    </div>
  </body>
</html>
